# API Gateway Configuration
PORT=5001
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000,http://localhost:5002

# Microservices URLs
SAAS_SERVICE_URL=http://localhost:5002
COURSE_SERVICE_URL=http://localhost:3002
QUIZ_SERVICE_URL=http://localhost:3003
GATEWAY_SECRET=testing1234