# API Gateway Configuration
PORT=5001
NODE_ENV=development

# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=yohanmano123
DB_DATABASE=dev



# CORS Configuration
CORS_ORIGIN=http://localhost:3000,http://localhost:3001,http://localhost:3002

# JWT Configuration
JWT_SECRET=fwnefjnwgfwewjflqjwnf
JWT_EXPIRATION=1d

# Microservices URLs
USER_SERVICE_URL=http://localhost:5002
COURSE_SERVICE_URL=http://localhost:5003
QUIZ_SERVICE_URL=http://localhost:5004
