# API Gateway Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=passwordhere
DB_DATABASE=dev



# CORS Configuration
CORS_ORIGIN=http://localhost:3001,http://localhost:3002,http://localhost:3003

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRATION=1d

# Microservices URLs
USER_SERVICE_URL=http://localhost:3001
COURSE_SERVICE_URL=http://localhost:3002
QUIZ_SERVICE_URL=http://localhost:3003
